.student__tags {
  list-style: none;
  height: fit-content;
  background-color: rgb(240, 240, 240);
  color: black;
  padding: 5px;
  border-radius: 3px;
  font-size: 15px;
  width: fit-content;
  margin-right: 5px;
}
